.cache
.lsp-session-v1
.org-id-locations
ac-comphist.dat
bookmarks
company-statistics-cache.el
eshell
nov-places
org-roam.db
projectile-bookmarks.eld
recentf
server
url
auto-save-list
elpa
snippet
transient
custom.el
network-security.data
